.flex {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__col {
        // background: $primary;
        flex-basis: 50%;
        width: 50%;
        @media screen and (min-width: map-get($map: $breakpoints, $key: md)) {
            flex-basis: 25%;
            width: 50%;
        }
    }
}


.grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
