{{> head }}


<main role="main" id="main" class="main">
    <header id="header" class="header">
        <div class="header__logo">Brand Name</div>
        <nav class="header__primary">
            <ul class="header__primary-nav">
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
            </ul>
        </nav>
    </header>

    <h1>{{ h1 }}</h1>
    <p>{{ paragraph }}</p>

    <a href="/plp.html">Product Listing Page</a>
</main>


{{> foot }}
